table
	{
		border:2px solid #00c1ff;
		width: 60%;
		margin: auto;
		background-color: #FFFFFF;
	}

h1
	{
		font-family: arial;
		font-size: 2em;
		text-align: center;
		margin: 20px;
		
	}

tr
	{
		height: 50px;
	}

th 
	{
		background-image: url('nuage.jpg'); 
		font-family: verdana;
		font-size: 1.2em;
		text-align: center;
		border: 1px solid #000009;
	}

td 
	{
		border:1px solid #0068ff;
		font-size: 1.2em;
		text-align: center;
		padding: 5px;
	}